body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #eb0f0f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #df1616;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 3px solid #1aca0b;
    border-radius: 17px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0fdd4d;
}

.result-container {
    margin-top: 20px;
    text-align: center;
}

p {
    font-size: 50px;
    font-weight: bold;
    color: #161cc7
}
